{% extends "layouts/main.html" %}

{% block pageTitle %}
  Primary condition
{% endblock %}

{% block beforeContent %}

{% include "includes/assessment-status-neutral-pip.html" %}
<div class="govuk-width-container {{ containerClasses }}"></div>
<a href="auditBasicLandingPage-summary.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="auditBasicLandingPage-summary#qr-type-{{ query.qr-type }}" method="post">
        <h1 class="govuk-heading-l">Quality review type</h1>
        {{ govukRadios({
          name: "grade-qrtypes",
          value: data['grade-qrtypes'],
          fieldset: {
            legend: {
                text: "Select the quality review type",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
          }
            
          },
  items: [
    {
      value: "Approval",
      text: "Approval"
    },
    {
      value: "Post approval",
      text: "Post approval"
    },
    {
      value: "Rolling",
      text: "Rolling"
    },
    {
      value: "Targeted",
      text: "Targeted"
    }
   
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}