{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}GOV.UK Prototype Kit{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral-pip.html" %}

<div class="govuk-width-container full-width-container1280">

    <form action="claimant-documents-buttons" method="post" novalidate>
       
        {% if not query.irrelevant %}
    <a href="/{{ currentVersionPath }}/document-list.html" class="govuk-back-link">Back</a>
    {% else %}
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    {% endif %}


        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
 
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {% if not query.irrelevant %}
                <span id="docAmountSpan" class="govuk-caption-l">{{ selectedDocument }} of {{ totalDocuments }} documents (filters applied)</span>
                {% endif %}
                <h1 class="govuk-heading-l">{{ document.name }}</h1>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                       
                        {% if document.drsName %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">DRS document name</dt>
                            <dd class="govuk-summary-list__value">{{ document.drsName }}</dd>
                            <dd class="govuk-summary-list__actions"></dd>
                        </div>
                        {% endif %}
                       
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of document</dt>
                            <dd class="govuk-summary-list__value">{{ document.dateOfDocument }}</dd>
                            <dd class="govuk-summary-list__actions"></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date DWP received</dt>
                            <dd class="govuk-summary-list__value">{{ document.dateDwpReceived}}</dd>
                        </div>
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Benefit type</dt>
                            <dd class="govuk-summary-list__value">{{ document.benefitType }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Harmful information</dt>
                            <dd class="govuk-summary-list__value">{% if document.harmful %}Harmful{% else %}Not harmful{% endif %}</dd>
                        </div>    
                        {% if not query.irrelevant %}
                        {% if document.comment %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Comment</dt>
                            <dd class="govuk-summary-list__value">{{ document.comment }}</dd>
                        </div>
                        {% endif %}
                        {% endif %}
                    </dl>
                </div>

    
                <div class="govuk-grid-column-one-third">
                    <aside class="app-related-items" role="complementary">
                        <h1 class="govuk-heading-m">Manage </h1>
                        <p class="govuk-body">
                        <a href="/{{ currentVersionPath }}/update-document/{{ document.id }}" class="govuk-link" rel="noreferrer noopener">Update document details</a>
                        </p>
                        <p class="govuk-body">
                            <a href="/version-x/document-activity.html" class="govuk-link" rel="noreferrer noopener">View document activity</a>
                            </p>
                        <p class="govuk-body">
                        <a href="{{ document.pathToDocument }}" class="govuk-link" rel="noreferrer noopener" target="_blank">Open PDF document in a new tab</a>
                        </p> 
                    </aside>
                </div>
            </div>
  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">  
            <!-- {% if query.irrelevant %}
            {% set irrelvantCommentHtml %}

                    {{ govukInput({
                      name: "comment",
                      classes: "govuk-!-width-two-thirds",
                      label: {
                        text: "Reason"
                    },
                        value: document.comment
                    }) }}

                    {% endset -%}

                    {{ govukCheckboxes({
                        name: "archived",
                        items: [{
                            value:  currentVersionPath + "_" + document.id, text: "Mark document as irrelevant", checked: document.archived,
                            text: "Mark document as irrelevant",
                            conditional: {
                                html: irrelvantCommentHtml
                              }
                        }]
                      }) }}

         {% else %}
                    {{ govukCheckboxes({
                        name: "importantCheckbox",
                        items: [{ 
                            value: currentVersionPath + "_" + document.id, text: "Mark document as important", checked: document.important
                       
                        }]
                    }) }}
        {% endif %}

                </div> -->
                {% if not query.irrelevant %}
               
                    <!-- <div class="govuk-grid-column-one-half">   -->
                    <ul class="govuk-list nav-right">
                        <li>
                            <nav class="govuk-pagination" role="navigation" aria-label="results">
                                {% if selectedDocument > 1 %}
                                <div class="govuk-pagination__prev">
                                    <a class="govuk-link govuk-pagination__link" href="{{ previousDocumentId }}" rel="prev">
                                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                    </svg>
                                    <span class="govuk-pagination__link-title">Previous document</span></a>
                                </div>
                                {% endif %}
                                {% if selectedDocument < totalDocuments %}
                                <div class="govuk-pagination__next">
                                    <a class="govuk-link govuk-pagination__link" href="{{ nextDocumentId }}" rel="next"> <span class="govuk-pagination__link-title">Next document</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                    </svg></a>
                                </div>
                                {% endif %}
                            </nav>
                        </li>
                    </ul>
                   
                </div>
            </div>
            {% endif %}

            <div class="govuk-grid-row govuk-!-margin-bottom-6">
                <div class="govuk-grid-column-full">
                <iframe class="document" src="{{ document.pathToDocument }}" title="{{ document.name }}"></iframe>
                </div>
            </div>  

        </main>
    </form>
</div>



{% endblock %}
