{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}"></div>

<a href="main-menu.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}




        
  <main class="govuk-main-wrapper " id="main-content" role="main">
 



  <h1 class="govuk-heading-l">Quality review level</h1>


  
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">PIP Paper-based assessment</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Skill Level</th>
          <th scope="col" class="govuk-table__header app-custom-class">Amount audited</th>
          <th scope="col" class="govuk-table__header app-custom-class">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       
        <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="question-hcp.html" class="govuk-link">Approval<br>New entrant<br>Targetted<br>Rolling</a></p> </td>
          <td class="govuk-table__cell">All reports<BR>1 in 4 reports<br>All reports<br>1 in 50 reports</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a></td>
        </tr>
           </tbody>
    </table>

      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">PIP Face to face</caption>
   

      <tbody class="govuk-table__body">
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="question-hcp.html" class="govuk-link">Approval<br>New entrant<br>Targetted<br>Rolling</a></p> </td>
          <td class="govuk-table__cell">All reports<BR>1 in 4 reports<br>All reports<br>1 in 50 reports</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a></td>
        </tr>
</tbody>
    </table>

  <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">PIP Telephone</caption>
   
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="question-hcp.html" class="govuk-link">Approval<br>New entrant<br>Targetted<br>Rolling</a></p> </td>
          <td class="govuk-table__cell">All reports<BR>1 in 4 reports<br>All reports<br>1 in 50 reports</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a></td>
        </tr>
     
        </tbody>
    </table> 

     <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">PIP SREL</caption>
   
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="question-hcp.html" class="govuk-link">Approval<br>New entrant<br>Targetted<br>Rolling</a></p> </td>
          <td class="govuk-table__cell">All reports<BR>1 in 4 reports<br>All reports<br>1 in 50 reports</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a></td>
        </tr>
     
        </tbody>
    </table> 


        <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">PIP HCP review</caption>
   
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="question-hcp.html" class="govuk-link">Approval<br>New entrant<br>Targetted<br>Rolling</a></p> </td>
          <td class="govuk-table__cell">All reports<BR>1 in 4 reports<br>All reports<br>1 in 50 reports</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a><br><a href="" class="govuk-link">Change</a></td>
        </tr>
     
        </tbody>
    </table> 
   
   
 
   
    </nav>

</div>
        <div class="moj-pagination" aria-label="Pagination navigation">
    
          </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}

