{% extends "layouts/main.html" %}

{% block pageTitle %}
  Process
{% endblock %}


{% block beforeContent %}

{% include "includes/assessment-status-neutral-pip.html" %}

<div class="govuk-width-container {{ containerClasses }}"></div>

<a href="auditBasicLandingPage-summary.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="auditBasicLandingPage-summary#process-{{ query.process }}" method="post">

{{ govukRadios({
  name: "grade-" + query.process,
  value: data['grade-' + query.process],
  fieldset: {
    legend: {
      text: process[query.process],
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "A - Clear report which conforms with guidance and professional standards",
      text: "A - Clear report which conforms with guidance and professional standards"
    },
    {
      value: "AF - Frequent spelling or grammar errors, use of jargon and unexplained abbreviations that are not in common use",
      text: "AF - Frequent spelling or grammar errors, use of jargon and unexplained abbreviations that are not in common use"
    },
    {
      value: "AA -  Omission or error (such as harmful information / call to exam) with minor risk of adverse consequence",
      text: "AA -  Omission or error (such as harmful information / call to exam) with minor risk of adverse consequence"
    },
    {
      value: "AA - Directive advice on entitlement",
      text: "AA - Directive advice on entitlement"
    },
    {
      value: "AA - Unclear medical information critical to advice clarity",
      text: "AA - Unclear medical information critical to advice clarity"
    },
    {
      value: "U - Major omission or error (such as harmful information / unexpected findings) with significant risk of harm to the mental or physical health of the claimant or others",
      text: "U - Major omission or error (such as harmful information / unexpected findings) with significant risk of harm to the mental or physical health of the claimant or others"
    },
    {
      value: "N/A - Not Applicable",
      text: "N/A - Not Applicable"
    }
   
  ]
}) }}

{{ govukTextarea({
  name: "comment-" + query.process,
  id: "comment-" + query.process,
  value: data['comment-' + query.process],
  label: {
    text: "Comment"
  }
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}