{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block content %}
 
 
  <h1 class="govuk-heading-l">
Well done for getting this far. 
  </h1>

    <h1 class="govuk-heading-l">
You are on the right track.
  </h1>

    <p class="govuk-heading-m"> </p> Can you please speak out loud and tell us what you would expect to do to finish this task?  </p>
 
 
 


  
  
 
{{ govukButton({
  text: "Mark task as complete",
  href: "my-tasks-end.html"
}) }}
 

 
{% endblock %}
  

