{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}"></div>


{% endblock %}

{% block content %}




        
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <h2 class="govuk-heading-l">Well done for getting this far</h2>
    <p class="govuk-heading-m"> </p> This isn't the quality review that we wanted you to find. </p>
    <p class="govuk-heading-m"> </p> Can you please speak out loud and tell us why you chose this link? </p>
    <p class="govuk-heading-m"> </p>Please go back to the homepage and try again. </p>
    <a class="govuk-link" href="hcp-main-menu-no-notification.html" id="Homepage">Homepage</a>
       

    
  
{% endblock %}

