{% extends "layouts/main.html" %}
 
{% block pageTitle %}
  Evidence
{% endblock %}
 
{% block beforeContent %}
 
{% include "includes/assessment-status-neutral-pip.html" %}
  <div class="govuk-width-container {{ containerClasses }}"></div>
  <a href="referral-page.html" class="govuk-back-link">Back</a>
{% endblock %}
 
{% block content %}
 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="auditBasicLandingPage-summary?checkAnswers=true" method="post">

     

      
          <h1 class="govuk-heading-xl">Quality review </h1>

         
  
  
            <h2 class="{% if query.checkAnswers %}govuk-heading-l{% else %}govuk-heading-m{% endif %}">Quality review summary</h2>
              

  <!-- Summary -->
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  HCP name
                </dt>
                <dd class="govuk-summary-list__value">
                  Aldo Raine
                </dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Auditor name
                </dt>
                <dd class="govuk-summary-list__value">
                  John Smith
                </dd>
              </div>
              
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date completed
              </dt>
              <dd class="govuk-summary-list__value">
                20 July 2026
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quality review type
              </dt>
              <dd class="govuk-summary-list__value">
               Rolling
              </dd>
            </div>

              <div id="process-{{ key }}" class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Overall grade
                </dt>
                <dd class="govuk-summary-list__value">
                  AA
                </dd>
            </div>

              <div id="process-{{ key }}" class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Overall comment
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data["comment-" + key] }}
                  Action – Please follow UE process.
                  <p class="govuk-body">  Additional feedback:</p>
                  <p class="govuk-body">  HOC – The history provides a reasonable overview of the claimant's conditions and functional impact; however, there could have been further exploration of recent treatment, specialist input and any changes since the previous assessment. This would have helped to strengthen the clinical picture and support progression or stability of symptoms.:</p>
                  <p class="govuk-body">  VB – More detail around frequency and variability would have been beneficial. The report refers to difficulties occurring "most days" but does not clearly establish how many days per week difficulties are experienced, nor the extent to which function differs on better days.</p>

</div>
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Assessment type
                </dt>
                <dd class="govuk-summary-list__value">
                  PIP face to face
                </dd>
              </div>

            </dl>
         
  
<!-- sub headers Amendment and feedback -->
            {% for section in reviewSections %}

            {% if not query.checkAnswers %}
              {% if loop.index === 1 %}
           
              {% endif %}
            {% else %}
              <h2 class="govuk-heading-l">{{ section }}</h2>
            {% endif %}
        
            {% if not query.checkAnswers and loop.index === 2 %}
            {% else %}

<!-- Evidence section -->
            {% if (query.checkAnswers and ((section === "Feedback" and "evidence" in groupsWithFeedback) or (section === "Amendments" and "evidence" in groupsToAmend))) or not query.checkAnswers %}
            
              <h2 class="govuk-heading-m">Further evidence</h2>
              <dl class="govuk-summary-list">
                {% for key, value in evidence %}
                {% if not query.checkAnswers or ((section === "Feedback" and "grade-" + key in hasFeedback) or (section === "Amendments" and "grade-" + key in requiresAmendment)) %}
                <div id="infoGather-{{ key }}" class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ value }}
                  </dt>
         
                  <dd class="govuk-summary-list__value">Whilst there is sufficient information available to support the advised outcome, some areas of the report rely on broad statements rather than detailed functional evidence. Additional probing and clearer documentation would improve auditability and strengthen the rationale for the selected descriptors.

                  Overall, the evidence supports the decision reached; however, improvements in probing, inconsistency resolution and documentation of functional impact would enhance the quality and robustness of the report.
                    {% if data["grade-" + key] %}
                      <p class="govuk-body">
                        {{ data["grade-" + key] }}
                      </p>
                      <p class="govuk-body">Comment:</p>
                      <p class="govuk-body">
                        {{ data["comment-" + key] }}
                        More work required
                      </p>
                    {% else %}
                      <!-- No feedback -->
                    {% endif %}
                  </dd>
                
              
                
                </div>
                {% endif %}
                {% endfor %}
            </dl>
        
            {% endif %}

<!-- Information gather section -->
            {% if (query.checkAnswers and ((section === "Feedback" and "infoGather" in groupsWithFeedback) or (section === "Amendments" and "infoGather" in groupsToAmend))) or not query.checkAnswers %}
         
              <h2 class="govuk-heading-m">Information gathering</h2>
              <dl class="govuk-summary-list">
                {% for key, value in infoGather %}
                {% if not query.checkAnswers or ((section === "Feedback" and "grade-" + key in hasFeedback) or (section === "Amendments" and "grade-" + key in requiresAmendment)) %}
                <div id="infoGather-{{ key }}" class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ value }}
                  </dt>
                  <dd class="govuk-summary-list__value">  AA - In additional support needs case, either important evidence not sought or insufficient attempt to gather it
                    {% if data["grade-" + key] %}
                      <p class="govuk-body">
                        {{ data["grade-" + key] }}
                      </p>
                      <p class="govuk-body">Comment: </p>
                      <p class="govuk-body">
                        {{ data["comment-" + key] }}
                      </p>
                    {% else %}
                      <!-- No feedback -->
                    {% endif %}
                  </dd>
                </div>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
        
        

        
<!-- Mobiliy section -->
            {% if (query.checkAnswers and ((section === "Feedback" and "mobility" in groupsWithFeedback) or (section === "Amendments" and "mobility" in groupsToAmend))) or not query.checkAnswers %}
        
            <h2 class="govuk-heading-m">Mobility</h2>
            <dl class="govuk-summary-list">
              {% for key, value in mobility %}
                {% if loop.index !== 10 and loop.index !== 11 %}
                {% if not query.checkAnswers or ((section === "Feedback" and "grade-" + key in hasFeedback) or (section === "Amendments" and "grade-" + key in requiresAmendment)) %}
                <div id="activity-{{ key }}" class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ value }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    AA - Justification which fails to support the advice or the descriptor choice but doesn't suggest an alternative award
                    {% if data["grade-" + key] %}
                      <p class="govuk-body">
                        {{ data["grade-" + key] }}
                      </p>
                      <p class="govuk-body">Comment: </p>
                      <p class="govuk-body">
                        {{ data["comment-" + key] }}
                      </p>
                    {% else %}
                      <!-- No feedback -->
                    {% endif %}
                  </dd>
                </div>
                {% endif %}
                {% endif %}
              {% endfor %}
            </dl>
            {% endif %}
        
        

         

<!-- Process section -->
            {% if (query.checkAnswers and ((section === "Feedback" and "process" in groupsWithFeedback) or (section === "Amendments" and "process" in groupsToAmend))) or not query.checkAnswers %}
        
            <h2 class="govuk-heading-m">Process</h2>
            <dl class="govuk-summary-list">
              {% for key, value in process %}
              {% if not query.checkAnswers or ((section === "Feedback" and "grade-" + key in hasFeedback) or (section === "Amendments" and "grade-" + key in requiresAmendment)) %}
              <div id="process-{{ key }}" class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ value }}  
                  </dt>
                  <dd class="govuk-summary-list__value">
                    AA - Directive advice on entitlement
                    {% if data["grade-" + key] %}
                      <p class="govuk-body">
                        {{ data["grade-" + key] }}
                      </p>
                      <p class="govuk-body">Comment: </p>
                      <p class="govuk-body">
                        {{ data["comment-" + key] }}
                      </p>
                    {% else %}
                      <!-- No feedback -->
                    {% endif %}
                  </dd>
                </div>
                {% endif %}
              {% endfor %}
            </dl>
            {% endif %}
            {% endif %}
            {% endfor %}

            
            
<!-- Goto referral link -->
          
        </div>
  </div>
{% endblock %}