{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}
 
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
 
{% block main %}
 
{% include "includes/assessment-status-neutral-pip.html" %}
 
<div class="govuk-width-container">
 
  {% if not query.ncat and not query.irrelevant %}
  {{ govukBackLink({ text: "Back", href: "claimant-details.html" }) }}
  {% else %}
  {{ govukBackLink({ text: "Back", href: "document-list.html" }) }}
  {% endif %}




<!-- <a href="claimant-details.html" class="govuk-back-link">Back</a> -->
<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    <div class="govuk-grid-row">

     
      {% if not query.ncat and not query.irrelevant %}
        <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">Manage</h2>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" href="document-list?ncat=true">Update document details</a>
                </li>
                <!-- <li>
                  <a class="govuk-link" href="document-list?irrelevant=true">View irrelevant documents</a>
              </li> -->
            </ul>
         
        </div>
        {% endif %}
    
 
        <div class="govuk-grid-column-three-quarters">
          {% if query.ncat %}
          <h1 class="govuk-heading-l">Update document details</h2>
            {% elif query.irrelevant %}
            <h1 class="govuk-heading-l">Irrelevant documents</h2>
        {% else %}
        <h1 class="govuk-heading-l">Claimant documents</h2>
        {% endif %}
        



        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header column-width-20">
              
              Name
            </th>
            {% if not query.ncat %}
              <th scope="col" class="govuk-table__header column-width-10" aria-sort="none">
                <button type="button" data-index="2">Benefit type</button>
              </th>
            {% endif %}
            <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">
              <button type="button" data-index="3">Date of document</button>
            </th>
            <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">         
              <button type="button" data-index="3">Date DWP received</button>
            </th>
            {% if query.irrelevant %}
            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">
              <button type="button" data-index="3">Reason</button>
            </th>
            {% endif %}
            {% if query.ncat %}

            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">
              <button type="button" data-index="3">Document status</button>
            </th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if query.irrelevant %}
          {% set docsForList = irrelevantDocuments %}
          {% else %}
          {% set docsForList = documents %}
          {% endif %}
          {% for doc in docsForList %}
              {% if doc.isActive %}
                  <tr class="govuk-table__row filter-table-row" role="row">
                    <td class="govuk-table__cell"><a href="{% if not query.ncat %}view{% else %}update{% endif %}-document/{{ doc.id }}{% if query.ncat %}?ncat=true{% endif %}{% if query.irrelevant %}?irrelevant=true{% endif %}">{{ doc.name }} <span class="govuk-visually-hidden">,{% if doc.dateOfDocument %} {{ doc.dateOfDocument }}{% else %} {{ doc.dateDwpReceived }}{% endif %}</span></a></td>
                   
                    <!-- <td class="govuk-table__cell"><a href="{% if not query.ncat %}view{% else %}update{% endif %}-document/{{ doc.id }}{% if query.ncat %}?ncat=true{% endif %}">{{ doc.name }}</a></td> -->
                    <!-- <td class="govuk-table__cell"><a href="{% if not query.ncat and not query.irrelevant %}view{% else %}update{% endif %}-document/{{ doc.id }}{% if query.ncat %}?ncat=true{% endif %}{% if query.irrelevant %}?irrelevant=true{% endif %}">{{ doc.name }}</a></td> -->

                    {% if not query.ncat %}
                        <td class="govuk-table__cell ">{{ doc.benefitType }}</td>
                    {% endif %}
                    <td class="govuk-table__cell" data-sort-value="date">{{ doc.dateOfDocument }}</td>
                    <td class="govuk-table__cell" data-sort-value="14">{{ doc.dateDwpReceived }}</td>
                      {% if query.ncat %}
                        {% if doc.archived %}
                        <td class="govuk-table__cell"></td>
                        {% elif not doc.read %} 
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Not started</strong></td>
                        {% elif doc.reviewed %}
                        <td class="govuk-table__cell">Reviewed</td>
                        {% else %}
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Not started</strong></td>
                        {% endif %}
                        {% endif %}  
                  </tr>
              {% endif %}
          {% endfor %}
      </tbody>






      </table>
    </div>
  </div>
</main>
</div>
{% endblock %}
 