<h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">Filters</h2>
<div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">Select one or more filters to apply to the list.</div>
<div class="table-filter">
  <form action="/{{ currentVersionPath}}/document-list" method="POST"> 
    {{ govukCheckboxes({
    name: "documentFilters",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: { text: "Document status", isPageHeading: false, classes: "govuk-fieldset__legend--s"}
    },
    values: data.documentFilters,
    items: [{ value: "IMPORTANT", html: "Important (<span>" + importantCount + "</span>)"},
            { value: "UNREAD", html: "Unread (<span>" + unreadCount + "</span>)"}
           
            ]
            
    }) }}






    {{ govukButton({
      text: "Apply filters"
    }) }}
  </form>
    <ul class="govuk-list">
    <li><a href="/{{ currentVersionPath }}/clear-filters" class="govuk-link">Clear all filters</a></li>
    </ul>
</div>