{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}"></div>


{% endblock %}

{% block content %}




        
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <h2 class="govuk-heading-l">My homepage</h2>
    
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

  <table id="menu-table">
      <tbody><tr>
      
      <td class="wide-margin">
      <h2 class="govuk-heading-m">Tasks</h2>
      <ul class="govuk-list govuk-list--spaced">

        <li>
          <a class="govuk-link" href="" id="manage-appointments">My tasks (12)</a>
        </li>

      
      </ul>
      </td>
      
      
      
      </tr>
      
      </tbody></table>

            </div>
            <div class="govuk-grid-column-one-quarter">

              <table id="menu-table">
                  <tbody><tr>
                  
                  <td class="wide-margin">
                  <h2 class="govuk-heading-m">Manage</h2>
                  <ul class="govuk-list govuk-list--spaced">
            
                  
            
                    <li>
                      <a class="govuk-link" href="" id="appointments">Appointments</a>
                    </li>
                    
                    
                    <li>
                      <a class="govuk-link" href="" id="change-to-PIP-referreal">Change to PIP referreal</a>
                    </li>
                    
                    
                    <li>
                      <a class="govuk-link" href="hcp-history.html" id="Quality review feedback (1)">Quality review feedback (1)</a>
                    </li>
                    

                    
                  </ul>
                  </td>
                  
                  
                  
                  </tr>
                  
                  </tbody></table>
            
                        </div>
                        <div class="govuk-grid-column-one-quarter">

                          <table id="menu-table">
                              <tbody><tr>
                              
                              <td class="wide-margin">
                              <h2 class="govuk-heading-m">Search</h2>
                              <ul class="govuk-list govuk-list--spaced">
                        
                                <li>
                                  <a class="govuk-link" href="" id="view-my-account">Find a claimant</a>
                                </li>

                                
                                
                              </ul>
                              </td>
                              
                              
                              
                              </tr>
                              
                              </tbody></table>
                        
                                    </div>      
        </div>
        
</main>
</div>
{% endblock %}

