{% extends "layout-assessment-history.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

   
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

  <form action="assessment-status" method="post" id="question-form" novalidate>

    <!-- {{ govukRadios({
      name: "assessmenttype",
      fieldset: {
        legend: {
          text: "How are you conducting this assessment?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Telephone",
          text: "Telephone",
          checked: (data['assessmenttype'] == "Telephone")
        },
        {
          value: "Face to face",
          text: "Face to face",
          checked: (data['assessmenttype'] == "Face to face")
        },
        {
          value: "Paper",
          text: "On paper",
          checked: (data['assessmenttype'] == "Paper")
        },
        {
          value: "Video call",
          text: "Video call",
          checked: (data['assessmenttype'] == "Video call")
        }
      ]
    }) }}  -->

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Type of assessment</h1>
      </legend>

       <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="telephone" name="assessmenttype" value="Telephone" checked="checked" type="radio" aria-describedby="sign-in-2-item-hint" >
           <label class="govuk-label govuk-radios__label" for="telephone">
             Telephone
           </label>
         </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="f2f" name="assessmenttype"   type="radio" value="Face to face">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
           Face to face
          </label>
        </div>


        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="paper" name="assessmenttype"  type="radio" value="Paper">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
           On paper with no examination
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="srel" name="assessmenttype"  type="radio" value="Paper">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
           Special rules
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="video-call" name="assessmenttype" type="radio" value="text" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-radios__label" for="contact-3">
            Video call
          </label>
        </div>
      

      </div>
      <br>
      <div id="myIdName" class="my-magic-class">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Making a change on this page will delete previously saved information.
          </strong>
        </div>
      </div>

    </fieldset>
 
  
  
  </div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</main>
</div>




{% endblock %}
