{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <!-- {{ govukBackLink({
      text: "Back",
      href: "assessment-status"
    }) }} -->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

               

                <h1 class="govuk-heading-l">Moving around</h1>

                </div>
          </div>

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

            <form action="assessment-status" method="post">

              {% if data['assessmenttype'] !== "Paper" %}

              {{ govukTextarea({
                name: "movingaroundNotes",
                id: "movingaroundNotes",
                rows: "8",
                classes: "govuk-!-margin-bottom-9",
                label: {
                  text: "Functional history for moving around",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                value: data['movingaroundNotes']
              }) }}

         

        

              {{ govukRadios({
                name: "movingaroundSelect",
                fieldset: {
                  legend: {
                    text: "Which of these describes how well the claimant can move around?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "(12a) Can stand and then move more than 200 metres, either aided or unaided",
                    text: "(12a) Can stand and then move more than 200 metres, either aided or unaided",
                    checked: (data['movingaroundSelect'] == "(12a) Can stand and then move more than 200 metres, either aided or unaided")
                  },
                  {
                    value: "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided",
                    text: "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided",
                    checked: (data['movingaroundSelect'] == "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided")
                  },
                  {
                    value: "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres",
                    text: "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres",
                    checked: (data['movingaroundSelect'] == "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres")
                  },
                  {
                    value: "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres",
                    text: "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres",
                    checked: (data['movingaroundSelect'] == "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres")
                  },
                  {
                    value: "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided",
                    text: "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided",
                    checked: (data['movingaroundSelect'] == "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided")
                  },
                  {
                    value: "(12f) Cannot stand or move more than 1 metre, either aided or unaided",
                    text: "(12f) Cannot stand or move more than 1 metre, either aided or unaided",
                    checked: (data['movingaroundSelect'] == "(12f) Cannot stand or move more than 1 metre, either aided or unaided")
                  }
                ]
              }) }}



                    {{ govukTextarea({
                      name: "movingaroundReason",
                      id: "movingaroundReason",
                      label: {
                        text: "What is the reason for this answer?",
                        classes: "govuk-label--s",
                        isPageHeading: false
                      },
                      value: data['movingaroundReason']
                    }) }}

                    {% else %}


                    {{ govukRadios({
                      name: "movingaroundSelectpbr",
                      fieldset: {
                        legend: {
                          text: "Which of these describes how well the claimant can move around?",
                          isPageHeading: false,
                          classes: "govuk-fieldset__legend--s"
                        }
                      },
                      items: [
                      {
                        value: "(12a) Can stand and then move more than 200 metres, either aided or unaided",
                        text: "(12a) Can stand and then move more than 200 metres, either aided or unaided",
                        checked: (data['movingaroundSelectpbr'] == "(12a) Can stand and then move more than 200 metres, either aided or unaided")
                      },
                      {
                        value: "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided",
                        text: "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided",
                        checked: (data['movingaroundSelectpbr'] == "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided")
                      },
                      {
                        value: "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres",
                        text: "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres",
                        checked: (data['movingaroundSelectpbr'] == "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres")
                      },
                      {
                        value: "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres",
                        text: "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres",
                        checked: (data['movingaroundSelectpbr'] == "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres")
                      },
                      {
                        value: "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided",
                        text: "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided",
                        checked: (data['movingaroundSelectpbr'] == "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided")
                      },
                      {
                        value: "(12f) Cannot stand or move more than 1 metre, either aided or unaided",
                        text: "(12f) Cannot stand or move more than 1 metre, either aided or unaided",
                        checked: (data['movingaroundSelectpbr'] == "(12f) Cannot stand or move more than 1 metre, either aided or unaided")
                      }
                    ]
                  }) }}

                    {% endif %}

                    {{ govukButton({
                      text: "Save and continue"
                    }) }}
                </ul>



            </form>



            </div>

            <div class="govuk-grid-column-one-third">



            </div>

        </div>

    </main>
  </div>
{% endblock %}
