{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block content %}
 
 
  <h1 class="govuk-heading-l">
   Well done for getting this far  
  </h1>
 
  <p class="govuk-body-m">
   Can you please speak out loud and tell us why you chose this route?
  </p>
 
      <p class="govuk-body-m">
    Can you please speak out loud and tell us what you would expect to do next? <span class="moj-notification-badge">
  </p>

  <p class="govuk-body-m">
    Please click next when you have finished<span class="moj-notification-badge">
  </p>
  
  
 
<a class="govuk-link" href="edit-process.html" id="Next">Next</a>
 
 

 
{% endblock %}
  

