{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block content %}
 
 
  <h1 class="govuk-heading-l">
   Well done for getting this far  
  </h1>
 
  <p class="govuk-body-m">
   Can you please speak out loud and tell us why you chose this route?
  </p>
 

  <p class="govuk-body-m">
    Please go back to the referral page and try something different<span class="moj-notification-badge">
  </p>
  
  
 
<a class="govuk-link" href="referral-pageA.html" id="Referral">Referral page</a>
 
 

 
{% endblock %}
  

