{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}">


    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container "></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

  


      <form class="form" action="skill_level-add-new" method="post">
       
        

            <h1 class="govuk-heading-l">
              What are Amy Gill's skills?            </h1>


        <br>
      

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
     
        <div class="govuk-grid-column-one-half" style="padding-left:0px;">
       

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

            {{ govukCheckboxes({
              idPrefix: "PIP-skills",
              name: "PIP-skills",
              fieldset: {
                legend: {
                  text: "Appointment",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "PIP Telephone",
                  text: "PIP Telephone",
                  checked: true
                },
                {
                  value: "PIP F2F",
                  text: "PIP Face to face",
                  checked: true
                },
                 {
                  value: "PIP Paper-based",
                  text: "PIP Paper-based",
                  checked: true
                },
                {
                  value: "PIP SREL",
                  text: "PIP SREL",
                  checked: true
                },
                {
                  value: "PIP HCP review",
                  text: "PIP HCP review",
                  checked: false
                }

              ]
            }) }}

          </div>
          </fieldset>
          </div>

        <button class="govuk-button" data-module="govuk-button">Save skills</button>
    </form>

    </div>
     </main>
    </div>

 
</div>


{% endblock %}
