{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}">

<a href="main-menu.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

 
<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

  <h1 class="govuk-heading-l">Manage quality review settings</h1>

  <h2 class="govuk-heading-m">PIP paper-based</h2>

<dl class="govuk-summary-list">
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Approval
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
All cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    New entrant
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Rolling
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 50 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="skill_level-global">Change </a>
    </dd>
      </div>

      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Variable
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>
</dl>

        <h2 class="govuk-heading-m">PIP face to face</h2>

<dl class="govuk-summary-list">
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Approval
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
All cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    New entrant
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Rolling
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 50 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Variable
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>
</dl>


         <h2 class="govuk-heading-m">PIP telephone</h2>

<dl class="govuk-summary-list">
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Approval
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
All cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    New entrant
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Rolling
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 50 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Variable
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>
</dl>

         <h2 class="govuk-heading-m">PIP SREL</h2>

<dl class="govuk-summary-list">
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Approval
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
All cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    New entrant
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Rolling
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 50 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Variable
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>
</dl>


   <h2 class="govuk-heading-m">PIP HCP review</h2>

<dl class="govuk-summary-list">
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Approval
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
All cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    New entrant
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

       <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Rolling
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 50 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>

      <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Variable
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
1 in 4 cases
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">Change </a>
    </dd>
      </div>


</dl>

</div>
  <div class="govuk-grid-column-one-quarter">  
  </div>
   
 
   


</div>
  
  </main>
</div>

{% endblock %}

