{% extends "layouts/main.html" %}

{% block pageTitle %}
  Activities
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}"></div>

<a href="account_jd.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



<h1 class="govuk-heading-l">Select frequency</h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
<form class="form" action="account_jd" method="post">

{{ govukRadios({
  name: "frequency-tel",
  value: data['frequency-tel'],
  fieldset: {
    legend: {
      text: "Select the frequency for PIP telephone cases",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },


value: data["frequency-tel"],
  
  items: [
    {
      value: "All cases",
      text: "All cases"
    },
    {
      value: "1 in 2 cases",
      text: "1 in 2 cases"
    },
    {
      value: "1 in 4 cases",
      text: "1 in 4 cases"
    },
    {
      value: "1 in 10 cases",
      text: "1 in 10 cases"
    }
   
  ]
}) }}







 



{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}