{% extends "layouts/main.html" %}

{% block pageTitle %}
  Process
{% endblock %}


{% block beforeContent %}

{% include "includes/assessment-status-neutral-pip.html" %}

<div class="govuk-width-container {{ containerClasses }}"></div>

<a href="auditBasicLandingPage-summary.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="auditBasicLandingPage-summary#process-{{ query.process }}" method="post">






  <h1 class="govuk-heading-l">Overall comment</h1>


{{ govukTextarea({
  name: "comment-" + query.process,
  id: "comment-" + query.process,
  
  label: {
    text: "Add a comment",
    classes: "govuk-label--s",
    isPageHeading: false
  },
  value: data['comment-' + query.process]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}