{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <!-- {{ govukBackLink({
      text: "Back",
      href: "assessment-status"
    }) }} -->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

               

                <h1 class="govuk-heading-l">Taking nutrition</h1>

                </div>
          </div>

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <form action="assessment-status" method="post">

                {% if data['assessmenttype'] !== "Paper" %}

              {{ govukTextarea({
                name: "takingnutritionNotes",
                id: "takingnutritionNotes",
                rows: "8",
                classes: "govuk-!-margin-bottom-9",
                label: {
                  text: "Functional history for taking nutrition",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                value: data['takingnutritionNotes']
              }) }}


              {{ govukRadios({
                name: "takingnutritionSelect",
                fieldset: {
                  classes: "govuk-!-margin-bottom-9",
                  legend: {
                    text: "Which of these describes how well the claimant can take nutrition?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "(2a) Can take nutrition unaided",
                    text: "(2a) Can take nutrition unaided",
                    checked: (data['takingnutritionSelect'] == "(2a) Can take nutrition unaided")
                  },
                  {
                    value: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food",
                    text: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food",
                    checked: (data['takingnutritionSelect'] == "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food")
                  },
                  {
                    value: "(2c) Needs a therapeutic source to be able to take nutrition",
                    text: "(2c) Needs a therapeutic source to be able to take nutrition",
                    checked: (data['takingnutritionSelect'] == "(2c) Needs a therapeutic source to be able to take nutrition")
                  },
                  {
                    value: "(2d) Needs prompting to be able to take nutrition",
                    text: "(2d) Needs prompting to be able to take nutrition",
                    checked: (data['takingnutritionSelect'] == "(2d) Needs prompting to be able to take nutrition")
                  },
                  {
                    value: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition",
                    text: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition",
                    checked: (data['takingnutritionSelect'] == "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition")
                  },
                  {
                    value: "(2f) Cannot convey food and drink to their mouth and needs another person to do so",
                    text: "(2f) Cannot convey food and drink to their mouth and needs another person to do so",
                    checked: (data['takingnutritionSelect'] == "(2f) Cannot convey food and drink to their mouth and needs another person to do so")
                  }
                ]
              }) }}



            

                    {{ govukTextarea({
                      name: "takingnutritionReason",
                      id: "takingnutritionReason",
                      label: {
                        text: "What is the reason for this answer?",
                        classes: "govuk-label--s",
                        isPageHeading: false
                      },
                      value: data['takingnutritionReason']
                    }) }}
                    {% else %}
                  

                 

                    {{ govukRadios({
                      name: "takingnutritionSelectpbr",
                      fieldset: {
                        classes: "govuk-!-margin-bottom-9",
                        legend: {
                          text: "Which of these describes how well the claimant can take nutrition?",
                          isPageHeading: false,
                          classes: "govuk-fieldset__legend--s"
                        }
                      },
                      items: [
                      {
                        value: "(2a) Can take nutrition unaided",
                        text: "(2a) Can take nutrition unaided",
                        checked: (data['takingnutritionSelectpbr'] == "(2a) Can take nutrition unaided")
                      },
                      {
                        value: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food",
                        text: "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food",
                        checked: (data['takingnutritionSelectpbr'] == "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food")
                      },
                      {
                        value: "(2c) Needs a therapeutic source to be able to take nutrition",
                        text: "(2c) Needs a therapeutic source to be able to take nutrition",
                        checked: (data['takingnutritionSelectpbr'] == "(2c) Needs a therapeutic source to be able to take nutrition")
                      },
                      {
                        value: "(2d) Needs prompting to be able to take nutrition",
                        text: "(2d) Needs prompting to be able to take nutrition",
                        checked: (data['takingnutritionSelectpbr'] == "(2d) Needs prompting to be able to take nutrition")
                      },
                      {
                        value: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition",
                        text: "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition",
                        checked: (data['takingnutritionSelectpbr'] == "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition")
                      },
                      {
                        value: "(2f) Cannot convey food and drink to their mouth and needs another person to do so",
                        text: "(2f) Cannot convey food and drink to their mouth and needs another person to do so",
                        checked: (data['takingnutritionSelectpbr'] == "(2f) Cannot convey food and drink to their mouth and needs another person to do so")
                      }
                    ]
                  }) }}

                    {% endif %}
                    
                    {{ govukButton({
                      text: "Save and continue"
                    }) }}

                </ul>



            </form>

            </div>

            <div class="govuk-grid-column-one-third">


            </div>

        </div>

    </main>
  </div>
{% endblock %}
