<div class="govuk-grid-column-two-thirds-from-desktop">
      
    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preferred name
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          Not available
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode
        </dt>
        <dd class="govuk-summary-list__value">
         FT98 K90
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Referral details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Referral date
        </dt>
        <dd class="govuk-summary-list__value">
          14 January 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          End of life
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit type
        </dt>
        <dd class="govuk-summary-list__value">
          PIP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Referral type
        </dt>
        <dd class="govuk-summary-list__value">
          New referral
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Assessment centre
        </dt>
        <dd class="govuk-summary-list__value">
          Tresco
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case manager
        </dt>
        <dd class="govuk-summary-list__value">
          Donald Mine
        </dd>
      </div>
    </dl>

  </div>