{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}
 
  <div class="govuk-width-container {{ containerClasses }}">

      <!-- {{ govukBackLink({
        text: "Back",
        href: "assessment-status"
      }) }} -->

      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

  <form action="abandoned" method="post" id="question-form" novalidate>

    <h1 class="govuk-heading-l">Abandon assessment</h1>




    {% set reasonHtml %}
    {{ govukTextarea({
      id: "abandonreason",
      name: "abandonreason",
      label: {
        text: "Give details",
        classes: "govuk-label--s",
    isPageHeading: false
      }
    }) }}
    {% endset -%}

      {{ govukRadios({
        idPrefix: "qp",
        name: "qp",
        fieldset: {
          legend: {
            text: "Why do you need to abandon the assessment?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
        {
          value: "The claimant is unfit to be examined",
          text: "The claimant is unfit to be examined",
          checked: (data['abandon'] == "The claimant is unfit to be examined")
        },
          {
            value: "The claimant has a special need they've not previously disclosed",
            text: "The claimant has a special need they've not previously disclosed",
            checked: (data['abandon'] == "The claimant has a special need they've not previously disclosed")
          },
          {
            value: "Other",
            text: "Other",
            checked: (data['abandon'] == "Other")
           
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Can you provide more detail?",
          classes: "govuk-label--s",
          isPageHeading: false
        }
      }) }}


      






     
         
      
      

    
    </fieldset>




<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>


</div>
</div>
</main>
</div>


{% endblock %}
