{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      <!-- {{ govukBackLink({
        text: "Back",
        href: "dailyliving"
      }) }} -->

      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">Mobility qualifying period and prospective test</h1>


  <form action="assessment-status" method="post" id="question-form" novalidate>

    {% set reasonHtml %}
    {{ govukTextarea({
      id: "part-not-met",
      name: "part-not-met",
      label: {
        text: "Qualifying period details",
        classes: "govuk-label--s",
    isPageHeading: false
      }
    }) }}
    {% endset -%}

      {{ govukRadios({
        idPrefix: "qp",
        name: "qp",
        fieldset: {
          legend: {
            text: "Has the claimant had the functional restriction for at least 3 months?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s",
            hint: "Hint"
          }
        },
        hint: {
          text: "The qualifying period of the required period condition"
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data['qp'] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data['qp'] == "No"),
            conditional: {
              html: reasonHtml
            }
          },
          {
            value: "No mobility restriction found",
            text: "No mobility restriction found",
            checked: (data['qp'] == "No mobility restriction found")
          }
        ]
      }) }}



      {% set 9reasonHtml %}
      {{ govukTextarea({
        id: "9part-not-met",
        name: "9part-not-met",
        label: {
          text: "Prospective test details",
          classes: "govuk-label--s",
      isPageHeading: false
        }
      }) }}
      {% endset -%}
  
        {{ govukRadios({
          idPrefix: "9qp",
          name: "9qp",
          fieldset: {
            legend: {
              text: "Is the claimant likely to have the functional restriction in 9 months?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s",
              hint: "Hint"
            }
          },
          hint: {
            text: "The prospective test of the required period condition"
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data['9qp'] == "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: (data['9qp'] == "No"),
              conditional: {
                html: 9reasonHtml
              }
            },
            {
              value: "No mobility restriction found",
              text: "No mobility restriction found",
              checked: (data['9qp'] == "No mobility restriction found")
            }
          ]
        }) }}

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</main>
</div>





{% endblock %}
