{% extends "layouts/main.html" %}

{% block pageTitle %}
  Information gathering
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}"></div>

<a href="account_jd" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}




        
  <!-- <main class="govuk-main-wrapper " id="main-content" role="main"> -->
 

<div class="govuk-width-container ">
<div class="govuk-grid-row">

<div class="govuk-grid-column-one-quarter">


{{ govukCheckboxes({
  name: "Filter_skills",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Filter skills",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "PIP telephone",
      text: "PIP telephone",
      checked: true
    },
    {
      value: "PIP paper-based",
      text: "PIP paper-based"
    },
    {
      value: "PIP face to face",
      text: "PIP face to face"
    },
    {
      value: "PIP SREL",
      text: "PIP SREL"
    }
  ]
}) }}


{{ govukButton({
  text: "Update"
}) }}


</div>

<div class="govuk-grid-column-three-quarters">

  <h1 class="govuk-heading-l">Jane Doe quality history</h1>

<div class="govuk-form-group govuk-!-margin-bottom-0">





</div>
  
    <table class="govuk-table">
      <caption class="govuk-visually-hidden">Manage profiles</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Referral NI</th>
          <th scope="col" class="govuk-table__header app-custom-class">Auditor</th>
          <th scope="col" class="govuk-table__header app-custom-class">Skills</th>
           <th scope="col" class="govuk-table__header app-custom-class">Grade</th>
          <th scope="col" class="govuk-table__header app-custom-class">Reviewed</th>
          <!-- <th scope="col" class="govuk-table__header app-custom-class">End of life</th>
          <th scope="col" class="govuk-table__header app-custom-class">Action</th> -->
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       
   
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="/capture-grades-journey/htln1565-EditPostSubmission/auditBasicLandingPage-storedData1?checkAnswers=true" class="govuk-link">NI123456A</a></p> </td>
          <td class="govuk-table__cell">John Smith</td>
          <td class="govuk-table__cell">PIP Telephone assessment</td>
             <td class="govuk-table__cell">Acceptable with feedback</td>
          <td class="govuk-table__cell">04/04/25</td>
        </tr>
       
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="" class="govuk-link">NI123456A</a></p> </td>
          <td class="govuk-table__cell">Peter Parker</td>
          <td class="govuk-table__cell">PIP Telephone assessment</td>
             <td class="govuk-table__cell">Acceptable</td>
          <td class="govuk-table__cell">04/04/25</td>
        </tr>
         
          <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="" class="govuk-link">BA123456D</a></p> </td>
          <td class="govuk-table__cell">Peter Parker</td>
          <td class="govuk-table__cell">PIP Telephone assessment</td>
             <td class="govuk-table__cell">Acceptable</td>
          <td class="govuk-table__cell">21/03/25</td>
        </tr>
    
     
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="" class="govuk-link">NI123456A</a></p> </td>
          <td class="govuk-table__cell">Peter Parker</td>
          <td class="govuk-table__cell">PIP Telephone assessment</td>
             <td class="govuk-table__cell">Acceptable</td>
          <td class="govuk-table__cell">30/02/25</td>
        </tr>
        
        
        
         <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="" class="govuk-link">NI123456A</a></p> </td>
          <td class="govuk-table__cell">Peter Parker</td>
          <td class="govuk-table__cell">PIP Telephone assessment</td>
             <td class="govuk-table__cell">Acceptable</td>
          <td class="govuk-table__cell">30/01/25</td>
        </tr>
        
          <tr class="govuk-table__row" data-category="lot1">
          <td class="govuk-table__cell"> <p><a href="" class="govuk-link">BA123456D</a></p> </td>
          <td class="govuk-table__cell">Peter Parker</td>
          <td class="govuk-table__cell">PIP Telephone assessment</td>
             <td class="govuk-table__cell">Acceptable</td>
          <td class="govuk-table__cell">21/01/25</td>
        </tr>
        
     
     
     
         
      </tbody>
    </table>
 

</div>
</div>
        
    
   
  </main>


{% endblock %}

