{% extends "layouts/main.html" %}

{% block pageTitle %}
  Activities
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}"></div>

<a href="manage-global-settings" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



<h1 class="govuk-heading-l">Rolling for PIP paper-based assessments </h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
<form class="form" action="manage-global-settings_check" method="post">



{{ govukRadios({
  name: 'telephone-global-rolling',
  fieldset: {
    legend: {
      text: "Select frequency",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },


value: data["telephone-global-rolling"],
  
  items: [
    {
      value: "100%",
      text: "100%"
    },
    {
      value: "50%",
      text: "50%"
    },
    {
      value: "40%",
      text: "40%"
    },
    {
      value: "30%",
      text: "30%"
      
    },
    {
      value: "20%",
      text: "20%"
    },
 {
      value: "10%",
      text: "10%"
    },
     {
      value: "5%",
      text: "5%"
    },
     {
      value: "2%",
      text: "2%"
    }
   
  ]
}) }}



{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}