{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{% endblock %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/country-answer" method="post">

    <h1 class="govuk-heading-l">Quality review</h1>

    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat, purus et condimentum pulvinar, felis eros pharetra odio, vitae fermentum lectus odio sed dolor. </p>
    <h2 class="govuk-heading-m">Assessment audit</h2>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Primary Conditions
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="primaryConditions">Add<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Further evidence</h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          All relevant stages
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Information gathering</h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          History (including variability)
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Examination
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Observations
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-m">Daily living</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preparing food
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="preparingFood.html">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Taking nutrition
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Managing therapy
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Washing and bathing
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Managing toilet needs
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Dressing and undressing
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Communication verbally
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Reading and understanding
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Engaging with others
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-m">Mobility</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Planning and following journeys
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Moving around
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      
    </dl>


    <h2 class="govuk-heading-m">Opinion</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Prognosis
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          QP/PT Recommendation
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Terminal illness opinion
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reliability criteria
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Justification
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      
    </dl>



    <h2 class="govuk-heading-m">Process</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case handling
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Usability
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          General commments
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      
    </dl>


  





<!-- {{ govukButton({
  text: "Continue"
}) }} -->

</form>
    </div>
  </div>
{% endblock %}

