{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{% endblock %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/country-answer" method="post">

{{ govukRadios({
  name: "PrimaryConditions",
  value: data['country'],
  fieldset: {
    legend: {
      text: "Primary Conditions",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "England",
      text: "Cancer"
    },
    {
      value: "Scotland",
      text: "Cardiovascular"
    },
    {
      value: "Wales",
      text: "Central Nervious System"
    },
    {
      value: "Wales",
      text: "Dermatological"
    },
    {
      value: "Wales",
      text: "Endocrine"
    },
    {
      value: "Wales",
      text: "Gastrointestinal"
    },
    {
      value: "Wales",
      text: "Gynaecological"
    },
    {
      value: "Wales",
      text: "Immune"
    },
    {
      value: "Wales",
      text: "Mental Health"
    },
    {
      value: "Wales",
      text: "Miscellaneous"
    },
    {
      value: "Wales",
      text: "Musculoskeletal"
    },
    {
      value: "Wales",
      text: "Respiratory"
    },
    {
      value: "Wales",
      text: "Special Senses"
    },
    {
      value: "Wales",
      text: "Urogenital"
    }
  ]
}) }}


















{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}

