{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral-pip.html" %}

  <div class="govuk-width-container">

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

  <div class="govuk-width-container {{ containerClasses }}">
   
    <!-- <div class="navigation-header">
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Referrals</a></li>
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Claimant details</a></li>
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Appointments</a></li>
          <li class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link--no-visited-state govuk-link--no-underline">Evidence</a></li>
          <li class="govuk-!-margin-bottom-2 active">Claimant log</li>
        </ul>
      </div>--> 

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      

      <div class="govuk-grid-row">

          

        <div class="govuk-grid-column-two-thirds">


        <!-- hidden for booking details removed for mvp  <form action="event-contact" method="post" class="form"> -->
            <form action="claimant-details" method="post" class="form">

          <h1 class="govuk-heading-l">
            Select a status

          </h1>
  
        
             

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
               
                <div class="govuk-radios govuk-radios">
                 

                  <div class="govuk-radios__item" data-module="govuk-radios">
                    <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
                    <label class="govuk-label govuk-radios__label" for="action-1">
                      Assigned
                </label>                      
              </div>
              <div class="govuk-radios__item" data-module="govuk-radios">
                <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
                <label class="govuk-label govuk-radios__label" for="action-1">
                  Awaiting questionnaire
            </label>                      
          </div>
          <div class="govuk-radios__item" data-module="govuk-radios">
            <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
            <label class="govuk-label govuk-radios__label" for="action-1">
              Questionnaire reminder sent
        </label>                      
      </div>
      <div class="govuk-radios__item" data-module="govuk-radios">
        <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
        <label class="govuk-label govuk-radios__label" for="action-1">
          Questionnaire not returned
    </label>                      
  </div>
  <div class="govuk-radios__item" data-module="govuk-radios">
    <input class="govuk-radios__input" id="action-1" name="action" type="radio" checked="checked" aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
    <label class="govuk-label govuk-radios__label" for="action-1">
      HCP review
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Request medical evidence
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Awaiting medical evidence
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Medical evidence not received
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Medical evidence received
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Book assessment
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio" aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Assessment booked
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio" aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    PIP paper based review
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Failed to attend
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Report ready
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  checked="checked" aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    HCP audit
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Done
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Withdrawn
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="action-1" name="action" type="radio"  aria-controls="conditional-action-1" aria-expanded="false" value="Initial or further evidence reviewed" {{ checked("action", "Initial or further evidence reviewed") }}>
  <label class="govuk-label govuk-radios__label" for="action-1">
    Created in error
</label>                      
</div>
             
              

               
            
      </div>

       <br>
             


         <!-- <div class="hidden-radio-post">
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact-claim-change" name="contact-method" type="radio" value="The claim has changed" {{ checked("contact-method", "The claim has changed") }}checked>
                    <label class="govuk-label govuk-radios__label" for="log-show">
                   Hidden radio = The claim has changed
                    </label>
                  </div>
                </div>
              </div>-->  
          

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>
 
            </div>
        </div>

    </main>
  </div>
  </div>
{% endblock %}
