{% extends "layouts/main.html" %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% block pageTitle %}
  Information gathering
{% endblock %}


{% block beforeContent %}



<div class="govuk-width-container {{ containerClasses }}"></div>

<a href="account_jd.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}




        
  <!-- <main class="govuk-main-wrapper " id="main-content" role="main"> -->
 


  <h1 class="govuk-heading-l">Jane Doe's quality review history</h1>

  <p class="govuk-body">There is no quality review history for Jane Doe</p>




    

</div>
</div>
        
    
   
  </main>


{% endblock %}

