{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}
 
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
 
{% block main %}
 
{% include "includes/assessment-status-neutral-pip.html" %}
 
<div class="govuk-width-container {{ containerClasses }}">
 
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
 
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      <div class="govuk-grid-row">
 
          <div class="govuk-grid-column-two-thirds">
 
            {% if errors %}
              {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors.errorList
              }) }}
            {% endif %}
 
            <h1 class="govuk-heading-l">HCP review</h1>
 
         
 
 
 
 
 
  <!------------CANNED PHRASES LEGEND------------>
  <!-- {% set legendCannedDetails %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 1</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase2">Valid consent held</span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="Valid consent held" aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 2</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase2">No calls/written request can be made as there is no consent. </span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="No calls/written request can be made as there is no consent. " aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 3</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase2">No PIP Questionnaire was received</span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="No PIP Questionnaire was received" aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
  </div>
 
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 4</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase1">A call to the [add contact] is required to establish [add information required].</span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="A call to the [add contact] is required to establish [add information required]." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
  </div>
 
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 5</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase3">GPFR requested to confirm diagnoses, treatment and current input. </span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="GPFR requested to confirm diagnoses, treatment and current input." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
  </div>
 
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 6</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase4">If FME is not returned, a full assessment is required as there is no information to complete as PBR. TA suitable. </span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="If FME is not returned, a full assessment is required as there is no information to complete as PBR. TA suitable. " aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
  </div>
 
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 7</p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase5">Written FME from GP has not been requested as a lot of functional detail is required which they are unlikely to provide</span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="Written FME from GP has not been requested as a lot of functional detail is required which they are unlikely to provide" aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
  </div>
 
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body govuk-!-margin-bottom-2">Phrase 8</p>
      </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase8">Multiple health conditions; variability and functional ability in several activities are unclear.  
        </span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="Multiple health conditions; variability and functional ability in several activities are unclear." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
    </div>
 
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body govuk-!-margin-bottom-2">Phrase 9</p>
      </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase9">Evidence reviewed and is insufficient to provide robust advice.
        </span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="Evidence reviewed and is insufficient to provide robust advice.
          " aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
    </div>
    </div>
 
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body govuk-!-margin-bottom-2">Phrase 10</p>  
      </div>
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-list_prase"><span id="prase10">Evidence reviewed and is insufficient to provide robust advice. A full telephone assessment is required to enable robust advice on the level of function and extent of variability. There are no suggestions in the questionnaire this would be unsuitable for the claimant.
        </span></p>
      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="Evidence reviewed and is insufficient to provide robust advice. A full telephone assessment is required to enable robust advice on the level of function and extent of variability. There are no suggestions in the questionnaire this would be unsuitable for the claimant.
          " aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>
  </div>
  </div>
 
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Phrase 11</p>
    </div>
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-list_prase"><span id="prase11">Due to insufficient evidence to fully advise on stated increase in physical functional restrictions in AR1, an assessment is advised to establish current level of function and variability..
      </span></p>
    <div class="app-example__code">
        <button class="app-example__copy-code-button" data-copy-text="Due to insufficient evidence to fully advise on stated increase in physical functional restrictions in AR1, an assessment is advised to establish current level of function and variability.
        " aria-live="assertive" data-module="html">Copy paragraph</button>
      </div>
</div>
</div>
 
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2">Phrase 12</p>
  </div>
<div class="govuk-grid-column-three-quarters">
  <p class="govuk-list_prase"><span id="prase12">Questionnaire is not clear on reliability, so an assessment is required to enable robust advice on the level of function.
    </span></p>
  <div class="app-example__code">
      <button class="app-example__copy-code-button" data-copy-text="Questionnaire is not clear on reliability, so an assessment is required to enable robust advice on the level of function.
      " aria-live="assertive" data-module="html">Copy paragraph</button>
    </div>
</div>
</div>
 
  {% endset %}
  {% set legendCanned %}
  {% endset %} -->
 
            <form action="claimant-details" method="post">
 
              {% set storedEntryAmount = 0 %}
 
              <!-- Info captured by previous HCP review -->
              {% if data["hcpreviewpip" + storedEntryAmount] %}
          
                {% for i in range(0, 10) | reverse %}
                  {% if data["hcpreviewpip" + i] and not errors["hcpreviewpip" + i] and not errors["ir-outcomes" + i] %}
                  <!-- Heading for each review -->
                  <!-- <h2 class="govuk-heading-m">HCP review {{ i + 1 }}</h2> -->
 
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Clinical review and justification</dt>
                        <dd class="govuk-summary-list__value">{{ data["hcpreviewpip" + i] }}</dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Case type</dt>
                        <dd class="govuk-summary-list__value">
                          {% for item in data["hcpreviewflagspip" + i] %}
                          <p class="govuk-body">{{ item }}</p>
                          {% endfor %}
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Outcome</dt>
                        <dd class="govuk-summary-list__value">{{ data["ir-outcomes" + i] }}</dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">HCP name</dt>
                        <dd class="govuk-summary-list__value">Sandra Bullock</dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date of review</dt>
                        <dd class="govuk-summary-list__value">15 May 2025</dd>
                      </div>
                    </dl>
                    {% set storedEntryAmount = storedEntryAmount + 1 %}
                  {% endif %}
                {% endfor %}
              {% endif %}
 
              {% if (errors or query.viewmode === 'add' or not data["hcpreviewpip0"]) %}
 
              {{ govukTextarea({
                  name: "hcpreviewpip" + storedEntryAmount,
                  id: "hcpreviewpip" + storedEntryAmount,
                  rows: "12",
                  label: {
                    text: "Enter clinical review and justification",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  },
                  hint: {
                    text: "Include whether evidence has been reviewed, the type of FME requested, and what to do if it's not returned."
                  }
                }) }}
 
                <!-- {{ govukDetails({
                  summaryText: "Standard wording examples",
                  classes: "govuk-!-margin-bottom-0",
                  html: legendCannedDetails
                }) }} -->
               
                <br>
                <br>
 
                {{ govukCheckboxes({
                  name: "hcpreviewflagspip" + storedEntryAmount,
                  values: data['hcpreviewflagspip' + storedEntryAmount],
                  fieldset: {
                    legend: {
                      text: "Is the case one of the following?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "Complex neurological (WCA only)",
                      text: "Complex neurological (WCA only)"
                    },
                    {
                      value: "TACT - take additional care (PIP only)",
                      text: "TACT - take additional care  (PIP only)"
                    }
                  ]
                }) }}
 
                {% if errors["ir-outcomes" + storedEntryAmount] %}
                  {% set errorMessage = { text: errors["ir-outcomes" + storedEntryAmount].text } %}
                {% else %}
                  {% set errorMessage = null %}
                {% endif %}
 
                {{ govukRadios({
                  name: "ir-outcomes" + storedEntryAmount,
                  fieldset: {
                    legend: {
                      text: "What is the outcome of this review?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  errorMessage: errorMessage,
                  items: [
                    {
                      value: "Request further medical evidence (FME)",
                      text: "Request further medical evidence (FME)",
                      checked: (data['ir-outcomes' + storedEntryAmount] == "fme")
                    },
                    {
                      value: "Paper based review (PBR)",
                      text: "Paper based review (PBR)",
                      checked: (data['ir-outcomes' + storedEntryAmount] == "pbr")
                    },
                    {
                      value: "Telephone assessment",
                      text: "Telephone assessment",
                      checked: (data['ir-outcomes' + storedEntryAmount] == "telephone")
                    },
                    {
                      value: "Face to face assessment",
                      text: "Face to face assessment",
                      checked: (data['ir-outcomes' + storedEntryAmount] == "F2F")
                    },
                    {
                      value: "Special rules for end of life (SREL)",
                      text: "Special rules for end of life (SREL)",
                      checked: (data['ir-outcomes' + storedEntryAmount] == "SREL")
                    }
                  ]
                }) }}
 
                {% set errorMessage = null %}
 
                {% endif %}
                <br>
 
    </form>
 
 
                <div class="govuk-button-group">
                  {% if data["hcpreviewpip0"] and query.viewmode !== 'add' and not errors %}
                  <form action="../claimant-details" method="post">
                    {{ govukButton({
                      name: "submit",
                      value: "Continue",
                      text: "Continue"
                    }) }}
                    </form>
                    <form action="IR-landingPage-playback?viewmode=add" method="post">
                    {{ govukButton({
                      name: "submit",
                      value: "Add another entry",
                      text: "Add another entry",
                      classes: "govuk-button--secondary"
                    }) }}
                    </form>
                  {% else %}
                  <form action="../claimant-details" method="post">
                    {{ govukButton({
                      name: "submit",
                      value: "Save and continue2",
                      text: "Save and continue"
                    }) }}
                  </form>
                  {% endif %}
                </div>
 
          </div>
    </div>
  </main>
  </div>
{% endblock %}
 