{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<!-- 
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>


 <h1 class="govuk-heading-l">
     Auto selection
    </h1>

     <h1 class="govuk-heading-m">User research planned for 28 November 2025</h1>

   

 <ul class="govuk-list">
      <li>
        <a href="/Auto-selection-journey/htln1590-Auto-select-journey/pages/index.html" class="govuk-link">Version 1 to test
          
        </a>
      </li>

      <li>
        <a href="/Auto-selection-journey/htln1646-Auto-select-journey/pages/index.html" class="govuk-link">Version 2 to test
          
        </a>
      </li>
    </ul>

  

    <h1 class="govuk-heading-l">
     Capturing grades and feedback journey
    </h1>

    <!-- <p class="govuk-body">
      First draft quality review .
    </p> -->

    <ul class="govuk-list">
   
        <li>



        <a href="/capture-grades-journey/htln1496-GradeFeedbackMVP.html" class="govuk-link">MVP design - iteration 2 with edit link</a>


       
      </li>


      
      <li>
          <p class="govuk-body">1.6 - Prototype latest updates: Edit link after submission of report</p>
          </li>

      <li>
        <a href="/capture-grades-journey/htln1496-GradeFeedbackMVP.html" class="govuk-link">MVP design - iteration 2</a>  
      </li>   
      <li>
          <p class="govuk-body">1.5 - Prototype latest updates: Content review changes and adding in quality review type. Finalising design for MVP.</p>
          </li>

          <br>
          <li>
            <p class="govuk-body">Error pages:</p>
            </li>
          <li>
            <a href="/capture-grades-journey/htln1496-GradeFeedbackMVP/activity-error-overlimit.html" class="govuk-link">Character limit for comments on grade pages</a>
          </li>
          <li>
            <a href="/capture-grades-journey/htln1496-GradeFeedbackMVP/Overallcomment-error-overlimit.html" class="govuk-link">Character limit error page for overall comment page</a>
          </li>


          
          <li>
            <a href="/capture-grades-journey/htln1496-GradeFeedbackMVP/activity-error.html" class="govuk-link">Select a grade error page</a>
          </li>
          <li>
            <a href="/capture-grades-journey/htln1496-GradeFeedbackMVP/qrtype-error.html" class="govuk-link">Select quality review type error</a>
          </li>
          <li>
            <a href="/capture-grades-journey/htln1496-GradeFeedbackMVP/condition-error.html" class="govuk-link">Select primary condition error</a>
          </li>
          
          
          </ul>




     <br>
  
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     Previous designs
    </span>
  </summary>
  <div class="govuk-details__text">
  
  
    <li>
    <a href="/capture-grades-journey/htln1322-Summarylist-newConfirmation-min" class="govuk-link">Confirmation page & quality review final report</a>
              <p class="govuk-body">1.4 - Prototype updates:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Reverted back to the summarylist component. It was quickly learned that the tasklist in the previous version made the journey more complicated and the tags could be misinterpreted.</li>
                <li>Ability to view the audit report after submitting it or if they exit the journey and want to come back later.</li>
                <li>Confirmation page has been made minimal, with a link to the full audit report. This is a strategic design step for forward thinking of including history of quality review. We know down the line, there could be communication back and forth between auditors and HCP on a referral.</li>
              </ul>

              <br>
   
            </li>
      <li>
        <a href="/capture-grades-journey/htln1322-Tasklistv1" class="govuk-link">Task list form with check answers page</a>
        <p class="govuk-body">
          1.3 - To try and influence user behaviour, we wanted to make it clear some area are mandatory and other sections are optional and dont have to be completed. It was agreed to use the Tasklist with tags to influence the users.
        </p>

 
      <br>
   
      <li>
        <a href="/capture-grades-journey/htln1322-Summarylistwithcheckpage" class="govuk-link">Summary list form with check answers page</a>
        <p class="govuk-body">
          1.2 - Follow initial UR sessions, it was highlighted the user had concerns they couldnt check their answers before submitting. This prototype includes a check answers page.
        </p>
      </li>

   
      <br>

      <li>
        <a href="/capture-grades-journey/htln1322-Summarylistv1.html" class="govuk-link">Summary list form</a>
        <p class="govuk-body">
          1.1 - First MVP version to be tested for capturing grades and feedback. This design uses the summary list pattern which was recommended in the design clinic......
        </p>
      </li>


    </ul>
  </div>
</details>
     <br>

     
    

      <!-- {{ govukButton({
          text: "Continue",
          href: "example/where-do-you-live"
        }) }} -->
    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
