{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<!-- 
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h1 class="govuk-heading-l">
     Audit form Version 1
    </h1>

    <p class="govuk-body">
      First draft quality review .
    </p>

    <ul class="govuk-list">
      <li>
        <a href="/AuditForm/Basiclistv1" class="govuk-link">Basic list form</a>
        <p class="govuk-body">
          This version is streamlined, only show what the user needs.
        </p>
      </li>
      <li>
        <a href="/Summarylistv1" class="govuk-link">Basic summary list form</a>
        <p class="govuk-body">
          This version is based on feedback from the design clinic, regarding using summary list.
        </p>
      </li>
     
    </ul>

     <br>

     
    

      <!-- {{ govukButton({
          text: "Continue",
          href: "example/where-do-you-live"
        }) }} -->
    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
