{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/country-answer" method="post">

    <h1 class="govuk-heading-l">Quality review</h1>

    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat, purus et condimentum pulvinar, felis eros pharetra odio, vitae fermentum lectus odio sed dolor. </p>
    <h2 class="govuk-heading-m">Assessment audit</h2>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Primary Conditions
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="primaryConditions">Add<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Further evidence</h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          All relevant stages
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Information gathering</h2>
      <dl class="govuk-summary-list">
        {% for key, value in infoGather %}
        <div id="infoGather-{{ key }}" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ value }}
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["grade-" + key] %}
              <p class="govuk-body">
                {{ data["grade-" + key] }}
              </p>
              <p class="govuk-body">
                {{ data["comment-" + key] }}
              </p>
            {% else %}
              No feedback
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="infoGather?infoGather={{ key }}">{% if data["grade-" + key] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        {% endfor %}
    </dl>

    <h2 class="govuk-heading-m">Daily living</h2>
    <dl class="govuk-summary-list">
      {% for key, value in activities %}
        {% if loop.index !== 10 and loop.index !== 11 %}
        <div id="activity-{{ key }}" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ value }}
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["grade-" + key] %}
              <p class="govuk-body">
                {{ data["grade-" + key] }}
              </p>
              <p class="govuk-body">
                {{ data["comment-" + key] }}
              </p>
            {% else %}
              No feedback
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="activity?activity={{ key }}">{% if data["grade-" + key] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        {% endif %}
      {% endfor %}
    </dl>

    <h2 class="govuk-heading-m">Mobility</h2>
    <dl class="govuk-summary-list">
      <div id="activity-journeys" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ activities.journeys }}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["grade-journeys"] %}
            <p class="govuk-body">
              {{ data["grade-journeys"] }}
            </p>
            <p class="govuk-body">
              {{ data["comment-journeys"]}}
            </p>
          {% else %}
            No feedback
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="activity?activity=journeys">{% if data["grade-journeys"] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div id="activity-moving" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ activities.moving }}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["grade-moving"] %}
            <p class="govuk-body">
              {{ data["grade-moving"] }}
            </p>
            <p class="govuk-body">
              {{ data["comment-moving"]}}
            </p>
          {% else %}
            No feedback
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="activity?activity=moving">{% if data["grade-moving"] %}Change{% else %}Add{% endif %}<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Opinion</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Prognosis
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          QP/PT Recommendation
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Terminal illness opinion
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reliability criteria
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Justification
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      
    </dl>

    <h2 class="govuk-heading-m">Process</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case handling
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Usability
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          General commments
        </dt>
        <dd class="govuk-summary-list__value">
          No feedback
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      
    </dl>

<!-- {{ govukButton({
  text: "Continue"
}) }} -->

</form>
    </div>
  </div>
{% endblock %}