{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}
 
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
 
{% block main %}
 
{% include currentVersionPath + "/partials/key-details.html" %} 
 
<div class="govuk-width-container">
  <form action="/{{ currentVersionPath }}/update-document/{{ document.id }}{% if query.ncat %}?ncat=true{% endif %}{% if query.irrelevant %}?irrelevant=true{% endif %}" method="POST">
        {% if query.ncat %}
            {{ govukBackLink({ text: "Back", href: "/" + currentVersionPath + "/document-list?ncat=true" }) }}
        {% else %}
            {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}
        {% endif %}


       
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              



                  {% if query.ncat %}
                    <span id="docAmountSpan" class="govuk-caption-l">{{ selectedDocument }} of {{ totalDocuments }} documents</span>
                {% endif %}
                <h1 class="govuk-heading-l">{{ document.name }} </h1>
            </div>
        </div>
      
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">

                   
                <!-- <label class="govuk-label govuk-label--s" for="documentName">Change document name (optional)  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label> -->

                <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="documentName">Change document name (optional)</label>

                <select class="govuk-select progressive-autocomplete" id="documentName" name="documentName">
                  <option value="{{ document.drsName }}">{{ document.drsName }}</option>
                       {% for name in documentNames %}
                            <option value="{{ name }}" {% if name === document.name %}{% endif %}>{{ name }}</option>
                       {% endfor %}
             </select>
              </div>

                <!-- Autocomplete? -->
                <!-- <select class="govuk-select progressive-autocomplete" id="documentName" name="documentName">
                  {% for name in documentNames %}
                      <option value="{{ name }}" {% if name === document.name %}selected{% endif %}>{{ name }}</option>
                  {% endfor %}
              </select>

                

                <!-- <dl class="govuk-summary-list govuk-summary-list--no-border">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Changed document name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Award review AR1
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                </dl>
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      DRS document name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      ESA85 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Use DRS name<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                </dl> -->
                <!-- <a href="#" class="govuk-link govuk-body">Use DRS name</a>
                <br>
                <br> -->

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="date-created-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">Add date of document (optional)</h2>
                        </legend>
                    
                        <div class="govuk-date-input" id="document-created-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dateOfDocumentDay">Day</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateOfDocumentDay" name="dateOfDocumentDay" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ document.dateDay }}">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dateOfDocumentMonth">Month</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateOfDocumentMonth" name="dateOfDocumentMonth" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ document.dateMonth }}">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dateOfDocumentYear">Year</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateOfDocumentYear" name="dateOfDocumentYear" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ document.dateYear }}">
                            </div>
                        </div>
                        </div>
                    
                    </fieldset>
                </div>

                
                

                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s" for="more-detail">
                        Comment on this document (optional)
                      </label>
                    </h1>
                    <div id="more-detail-hint" class="govuk-hint">
                    <textarea class="govuk-textarea" id="more-detail" name="comment" rows="1" aria-describedby="more-detail-hint">{{ document.comment }}</textarea>
                  </div>

               

                  {{ govukCheckboxes({
                    name: "archived",
                    fieldset: {
                      legend: {
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--s"
                      }
                    },
                   
                    
                    items: [
                      
                      {
                        value: doc.archived,
                        text: "Mark document as irrelevant",
                        checked: document.archived
                      }
                    ]
                  }) }}
                  <!-- <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h2 class="govuk-fieldset__heading">
                        Document not relavant
                        </h2>
                      </legend>
                      <div id="waste-hint" class="govuk-hint">
                        Examples Duplicate, admin letter, envelopes,
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="env-hidea" name="env-hide" type="checkbox" value="carcasses">
                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                            Archive document
                          </label>
                        </div>
                       
                      </div>
                    </fieldset>
                  </div> -->
             
                  <br>
                  <br>


                <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            </div>
                  </div>
        </form>   
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <iframe class="document" src="{{ document.pathToDocument }}" title="{{ document.name }}"></iframe>
      </div>
    </div>
</div>
{% endblock %}
