{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}



{% block header %}

    {{ dwpHeader({
    name: "Health Assessment Service",
    serviceHref: '/',
    container:true
    }) }}
    
    {% endblock %}


    {% block footer %}
    {{ dwpFooter({
        meta: {
            items: [
              {
                href: "/manage-prototype",
                text: "Manage your prototype"
              },
              {
                href: "/manage-prototype/clear-data",
                text: "Clear data"
              }
            ]
          }
        }) }} 

        {% endblock %}
        