{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    <!-- {{ govukBackLink({
      text: "Back",
      href: "assessment-status"
    }) }} -->

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

             

                <h1 class="govuk-heading-l">Managing Therapy</h1>

                </div>
          </div>

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <form action="assessment-status" method="post">

                {% if data['assessmenttype'] !== "Paper" %}

              {{ govukTextarea({
                name: "managingtherapyNotes",
                id: "managingtherapyNotes",
                rows: "8",
                classes: "govuk-!-margin-bottom-9",
                label: {
                  text: "Functional history for managing therapy",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                value: data['managingtherapyNotes']
              }) }}

            


              {{ govukRadios({
                name: "managingtherapySelect",
                fieldset: {
                  classes: "govuk-!-margin-bottom-9",
                  legend: {
                    text: "Which of these describes how well the claimant can manage therapy or monitor a health condition?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided",
                    text: "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided",
                    checked: (data['managingtherapySelect'] == "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided")
                  },
                  {
                    value: "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition",
                    text: "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition",
                    checked: (data['managingtherapySelect'] == "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition")
                  },
                  {
                    value: "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week",
                    text: "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week",
                    checked: (data['managingtherapySelect'] == "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week")
                  },
                  {
                    value: "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week",
                    text: "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week",
                    checked: (data['managingtherapySelect'] == "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week")
                  },
                  {
                    value: "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week",
                    text: "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week",
                    checked: (data['managingtherapySelect'] == "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week")
                  },
                  {
                    value: "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week",
                    text: "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week",
                    checked: (data['managingtherapySelect'] == "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week")
                  }
                ]
              }) }}

       

                    {{ govukTextarea({
                      name: "managingtherapyReason",
                      id: "managingtherapyReason",
                      label: {
                        text: "What is the reason for this answer?",
                        classes: "govuk-label--s",
                        isPageHeading: false
                      },
                      value: data['managingtherapyReason']
                    }) }}


                    {% else %}
                    {{ govukRadios({
                      name: "managingtherapySelectpbr",
                      fieldset: {
                        classes: "govuk-!-margin-bottom-9",
                        legend: {
                          text: "Which of these describes how well the claimant can manage therapy or monitor a health condition?",
                          isPageHeading: false,
                          classes: "govuk-fieldset__legend--s"
                        }
                      },
                      items: [
                      {
                        value: "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided",
                        text: "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided",
                        checked: (data['managingtherapySelectpbr'] == "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided")
                      },
                      {
                        value: "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition",
                        text: "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition",
                        checked: (data['managingtherapySelectpbr'] == "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition")
                      },
                      {
                        value: "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week",
                        text: "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week",
                        checked: (data['managingtherapySelectpbr'] == "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week")
                      },
                      {
                        value: "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week",
                        text: "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week",
                        checked: (data['managingtherapySelectpbr'] == "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week")
                      },
                      {
                        value: "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week",
                        text: "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week",
                        checked: (data['managingtherapySelectpbr'] == "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week")
                      },
                      {
                        value: "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week",
                        text: "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week",
                        checked: (data['managingtherapySelectpbr'] == "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week")
                      }
                    ]
                  }) }}

                    {% endif %}

                    {{ govukButton({
                      text: "Save and continue"
                    }) }}




            </form>



            </div>

            <div class="govuk-grid-column-one-third">


            </div>

        </div>

    </main>
  </div>
{% endblock %}
