{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{% endblock %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/country-answer" method="post">

    <h1 class="govuk-heading-l">Quality review</h1>

    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat, purus et condimentum pulvinar, felis eros pharetra odio, vitae fermentum lectus odio sed dolor. </p>

    <h2 class="govuk-heading-s">Assessment audit</h2>
    <ul class="govuk-list">
      <li>
        <a href="primaryConditions" class="govuk-link">Primary condition</a>
      </li>
     
    </ul>


    <h2 class="govuk-heading-s">Further evidence</h2>
    <ul class="govuk-list">
      <li>
        <a href="/AuditForm" class="govuk-link">All relevant stages</a>
      </li>
     
    </ul>

    <h2 class="govuk-heading-s">Information gathering</h2>
    <ul class="govuk-list">


      <li id="infoGather-history" class="infoGather-list">
        <a href="infoGather?infoGather=history" class="govuk-link infoGather-link">{{ infoGather.history }}</a>
        <span class="infoGather-grade">
          {% if data['grade-history'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-history'].split('-')[0] }}
          </strong>
          {% endif %}
        </span>
        <p class="infoGather-description">{% if data['grade-history'] %}{{ data['grade-history'].split('-')[1] }}{% endif %}</p>
      </li>

      <li id="infoGather-exam" class="infoGather-list">
        <a href="infoGather?infoGather=exam" class="govuk-link infoGather-link">{{ infoGather.exam }}</a>
        <span class="infoGather-grade">
          {% if data['grade-exam'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-exam'].split('-')[0] }}
          </strong>
          {% endif %}
        </span>
        <p class="infoGather-description">{% if data['grade-exam'] %}{{ data['grade-exam'].split('-')[1] }}{% endif %}</p>
      </li>

      <li id="infoGather-observation" class="infoGather-list">
        <a href="infoGather?infoGather=observation" class="govuk-link infoGather-link">{{ infoGather.observation }}</a>
        <span class="infoGather-grade">
          {% if data['grade-observation'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-observation'].split('-')[0] }}
          </strong>
          {% endif %}
        </span>
        <p class="infoGather-description">{% if data['grade-observation'] %}{{ data['grade-observation'].split('-')[1] }}{% endif %}</p>
      </li>

    
     
    </ul>


    <h2 class="govuk-heading-s">Daily living</h2>
    <ul class="govuk-list">
      <li id="activity-food" class="activity-list">
        <a href="activity?activity=food" class="govuk-link activity-link">{{ activities.food }}</a>
        <span class="activity-grade">
          {% if data['grade-food'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-food'].split('-')[0] }}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-food'] %}{{ data['grade-food'].split('-')[1] }}{% endif %}</p>
      </li>
      <li id="activity-nutrition" class="activity-list">
        <a href="activity?activity=nutrition" class="govuk-link activity-link">{{ activities.nutrition }}</a>
        <span class="activity-grade">
          {% if data['grade-nutrition'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-nutrition'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-nutrition'] %}{{ data['grade-nutrition'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-therapy" class="activity-list">
        <a href="activity?activity=therapy" class="govuk-link activity-link">{{ activities.therapy }}</a>
        <span class="activity-grade">
          {% if data['grade-therapy'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-therapy'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-therapy'] %}{{ data['grade-therapy'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-washing" class="activity-list">
        <a href="activity?activity=washing" class="govuk-link activity-link">{{ activities.washing }}</a>
        <span class="activity-grade">
          {% if data['grade-washing'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-washing'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-washing'] %}{{ data['grade-washing'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-toilet" class="activity-list">
        <a href="activity?activity=toilet" class="govuk-link activity-link">{{ activities.toilet }}</a>
        <span class="activity-grade">
          {% if data['grade-toilet'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-toilet'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-toilet'] %}{{ data['grade-toilet'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-dressing" class="activity-list">
        <a href="activity?activity=dressing" class="govuk-link activity-link">{{ activities.dressing }}</a>
        <span class="activity-grade">
          {% if data['grade-dressing'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-dressing'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-dressing'] %}{{ data['grade-dressing'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-communicating" class="activity-list">
        <a href="activity?activity=communicating" class="govuk-link activity-link">{{ activities.communicating }}</a>
        <span class="activity-grade">
          {% if data['grade-communicating'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-communicating'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-communicating'] %}{{ data['grade-communicating'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-reading" class="activity-list">
        <a href="activity?activity=reading" class="govuk-link activity-link">{{ activities.reading }}</a>
        <span class="activity-grade">
          {% if data['grade-reading'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-reading'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-reading'] %}{{ data['grade-reading'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-engaging" class="activity-list">
        <a href="activity?activity=engaging" class="govuk-link activity-link">{{ activities.engaging }}</a>
        <span class="activity-grade">
          {% if data['grade-engaging'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-engaging'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-engaging'] %}{{ data['grade-engaging'].split('-')[1]}}{% endif %}</p>
      </li>

     
     
    </ul>

    <h2 class="govuk-heading-s">Mobility</h2>
    <ul class="govuk-list">
      <li id="activity-journeys" class="activity-list">
        <a href="activity?activity=journeys" class="govuk-link activity-link">{{ activities.journeys }}</a>
        <span class="activity-grade">
          {% if data['grade-journeys'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-journeys'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-journeys'] %}{{ data['grade-journeys'].split('-')[1]}}{% endif %}</p>
      </li>
      <li id="activity-moving" class="activity-list">
        <a href="activity?activity=moving" class="govuk-link activity-link">{{ activities.moving }}</a>
        <span class="activity-grade">
          {% if data['grade-moving'] %}
          <strong class="govuk-tag govuk-tag--yellow">
            {{ data['grade-moving'].split('-')[0]}}
          </strong>
          {% endif %}
        </span>
        <p class="activity-description">{% if data['grade-moving'] %}{{ data['grade-moving'].split('-')[1]}}{% endif %}</p>
      </li>
    </ul>


    <h2 class="govuk-heading-s">Opinion</h2>
    <ul class="govuk-list">
      <li>
        <a href="/AuditForm" class="govuk-link">Prognosis</a>
      </li>
      <li>
        <a href="#" class="govuk-link">QP/PT Recommendation</a>
      </li>
      <li>
        <a href="#" class="govuk-link">Terminal illness opinion</a>
      </li>
      <li>
        <a href="#" class="govuk-link">Reliability criteria</a>
      </li>
      <li>
        <a href="#" class="govuk-link">Justification</a>
      </li>
    </ul>

    <h2 class="govuk-heading-s">Process</h2>
    <ul class="govuk-list">
      <li>
        <a href="/AuditForm" class="govuk-link">Case handling</a>
      </li>
      <li>
        <a href="#" class="govuk-link">Usability</a>
      </li>
      <li>
        <a href="#" class="govuk-link">General comments</a>
      </li>
    </ul>


<!-- {{ govukButton({
  text: "Continue"
}) }} -->

</form>
    </div>
  </div>
{% endblock %}

